
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f12711;
  background: -webkit-linear-gradient(to right, #f2cc7a, #fc9185bb);
  background: linear-gradient(to right, #f2cc7a, #fc9185bb);
  font-family: 'Work Sans', sans-serif;
}

#food_items {
  margin-top: 3rem;
  text-align: center;
  padding: 0 1.5rem;
  border-radius: 1rem;
  background: #ada996;
  background: -webkit-linear-gradient(
    to bottom,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  );
  background: linear-gradient(to bottom, #99f5f860, #eec372, #ee9c93bb, #c7c4b8bf);
}

.food {
  margin: 1.5rem 0;
}

input {
  width: 250px !important;
}


.img_meal {
  width: 200px;
  border-radius: 5px;
}

.img_meal_recipe {
  width: 100%;
  max-height: 322px;
  border-radius: 10px;
}

#food_recipe {
  display: flex;
  justify-content: center;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #252525;
}

#food_items {
  visibility: hidden;
}

button {
  background-color: #F06C4E !important;
  border: none !important;
}

span{
  color: #F06C4E;
}